<h2 class="py-2"><%= @task.title %></h2>
<%= link_to "âœï¸ Edit task", edit_task_path, :class => "btn btn-outline-primary" %>
<hr>
<p><%= @task.details %></p>
<p>
  <%= check_box("task", @task.id, {checked: @task.completed}) %> Completed
</p>
<hr>
<%= link_to "ðŸ“‹ Back to list", tasks_path, :class => "btn btn-outline-primary" %>
